/*////////////////////////*/
/*   TRANSITION DISPLAY   */
/*////////////////////////*/

#first, #second, #third, #fourth, #fifth, #sixth, #conclusion, #character{
  text-align: center;
  opacity: 0;
  display: none;
}

/*////////////////////////*/
/*      TRAFFIC MAIN      */
/*////////////////////////*/

#traffic-main{
  text-align: center;
  opacity: 1;
}

/*////////////////////////*/
/*        CHARACTER       */
/*////////////////////////*/

#momo{
  width: 100%;
  height: 30%;
  margin-top: -20px;
}

#imgcont{
  margin-top: -40px;
  margin-bottom: -30px;
  text-align: center;
}

/*////////////////////////*/
/*          FIRST         */
/*////////////////////////*/

#first button{
  font-size: 16px;
  padding: 12px 12px;
  margin: 12px 16px;
}

/*////////////////////////*/
/*          SECOND        */
/*////////////////////////*/

/* #second h2{
  margin-top: -250px;
} */

/* #c2{
  transform: translateY(50%);
} */

#second button{
  font-size: 16px;
  padding: 12px 12px;
  margin: 12px 16px;
}
